.header__lang-link-ru {
  color: #fff;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

@media screen and (max-width: 767px) {
  .header__lang-link-ru {
    font-size: 18px;
    line-height: 20px;
  }
}
