.place {
  display: grid;
  justify-content: center;
  max-width: 984px;
  grid-template-columns: fit-content(460px) 1fr;
  grid-template-rows: fit-content(152px) fit-content(460px);
  row-gap: 48px;
  column-gap: 40px;
  margin: 0;
  padding-bottom: 80px;
}

.place:last-of-type {
  padding-bottom: 0;
}

@media screen and (max-width: 1179px) {
  .place {
    grid-template-columns: fit-content(440px) 1fr;
    grid-template-rows: fit-content(152px) fit-content(440px);
    column-gap: 32px;
    padding: 0 28px 80px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    grid-template-columns: fit-content(340px) 1fr;
    grid-template-rows: fit-content(92px) fit-content(340px);
    column-gap: 28px;
    padding: 0 24px 73px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: 1fr;
    row-gap: 32px;
    padding: 0 0 50px;
  }
}
